//  *******  custom clases  ******* 
body{
	font-family: 'Gotham-Book';
	background: #f7f1ea;
	// font-family: 'GothamBold';
}
h2,h3,h4,h5{
	font-family: 'GothamBold';
}
h2{
	text-transform: uppercase;
}
.container {
	@media ($mq-desktop){
		width: 1024px;
	}
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
    > .container{
	    padding-left: 26px;
    	margin-top: 164px;
    	font-size: 1.2em;
    	letter-spacing: 0.4px;
    	line-height: 1.3;
    }
}
.h-green-line{
	font-family: 'KGLuckoftheIrish';
	text-transform: uppercase;
    font-size: 4.3em;
    padding-right: 46px;
    line-height: 0.8;
    position: relative;
    &:before {
    	background-color: $color-green;
        content: "";
        height: 8px;
        left: 39px;
        position: absolute;
        top: 24px;
        width: 351px;
        z-index: -1;
    }
}
.social-icons{
	margin-bottom: 0;
    margin: 0;
    padding: 0;
    list-style: none;
	.icon{
	    margin-bottom: 20px;
	    color:$color-green;
	    text-transform: uppercase;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}
	.fa {
	    background-color: $color-green;
	    border-radius: 50%;
	    width: 90px;
	    height: 90px;
	    text-align: center;
	    padding: 24px 0;
	    font-size: 40px;
	    margin-right: 15px;
	    color: black;
	}
}