//  *******  menu  ******* 
.navbar-default{
	background: black;
	border-bottom: 0;
	padding-left: 60px;
    height: 98px;
    overflow: hidden;
	.navbar-nav{
		height: 100px;
		display: table;
		> li {
		    float: initial;
		    display: table-cell;
		    vertical-align: middle;
		    height: 52px;
		    margin-top: -13px;
		    &:first-child{
	    	    max-width: 170px;
	    	    margin-top: 0;
		    	a{
		    		border-left: 0;
				    padding-left: 0;
				    margin-right: 50px;
				    height: auto;
				    padding-top: 14px;
		    	}
		    }
		    a{
		    	border-left: 1px solid white;
		    	padding-top: 0;
		    	padding-bottom: 0;
		    	color: white;
		    	text-transform: uppercase;
			    line-height: 4;
			    margin-top: -12px;
			    height: 51px;
			    font-size: 1.1em;
			    padding-left: 33px;
			    letter-spacing: 0.9px;
			    padding-right: 32px;
		    	&:hover{
		    		color: rgba(white,0.8);
		    	}
		    }
		}
	}
} 