//  *******  variables  ******* 
//  ***************************

//  -------  colors
$color-green: #9bc34f;

// --------  media queries
$mq-desktop: 'min-width: 1200px';
$mq-tablet: 'min-width: 640px';
